<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> 
<!--<![endif]-->
<head>

	    <!-- ==============================================
		Title and Meta Tags
		=============================================== -->
		<meta charset="utf-8">
        <title>TalentHolding. -  Next Generation for hiring Talents </title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Add your business website description here">
        <meta name="keywords" content="Add your, business, website, keywords, here">
        <meta name="author" content="Add your business, website, author here">
		
		<!-- ==============================================
		Favicons
		=============================================== --> 
		<link rel="shortcut icon" href="landing/img/favicons/favicon.ico">
		<link rel="apple-touch-icon" href="landing/img/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="landing/img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="landing/img/favicons/apple-touch-icon-114x114.png">
		
	    <!-- ==============================================
		CSS
		=============================================== -->
        <!-- Style-->
        
        {{ css('landing/css/style')}}
		<!-- Vegas 2.2.1 CSS-->
        
        {{ css('landing/js/vegas/vegas')}}
				
		<!-- ==============================================
		Feauture Detection
		=============================================== -->
	
           {{ script('landing/js/modernizr-custom')}}
		
		<!--[if lt IE 9]>
		 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->		
		
</head>

<body>


     <!-- ==============================================
	 Header
	 =============================================== -->	 
	 <header id="header" class="header-two">
      <div class="container">
	   <div class="content">
	   
        <div class="row">
		 <h1 class="name revealOnScroll" data-animation="fadeInDown"><i class="fa fa-diamond"></i> TalentHolding.</h1>
		 <p class="temp">The Next Generation of Hiring Talents</p>
         <h1 class="hire revealOnScroll" data-animation="fadeInUp" data-timeout="400">Hire the elite Talents for your work.</h1>
	     <div class="form-row animations scale-in d3">
		  <div class="radio radio-left">
		   <a href="signup.html">Recruiter</a>		  
		  </div>
		  <div class="radio radio-right">
		   <a href="signup.html">Talent</a>		  
		  </div><!--./radio -->
	 	 </div><!--./form-row -->
        </div><!--./row -->
		
		<div class="row">
		 <div class="col-lg-10 col-lg-offset-1 hidden-xs">
		  <div class="logos">
		   <img src="landing/img/featured-logos.png" class="img-responsive" alt=""/>		  </div>
		  <!--./logos -->
		 </div>
		 <!--./col-lg-10 -->
		</div><!--./row --> 
		
       </div><!--./content -->
	  </div><!--./container -->
     </header><!--./header -->
	 
	 

	 
     <!-- ==============================================
	 Scripts
	 =============================================== -->
	 
     <!-- jQuery 2.1.4 -->
     {{ script('landing/js/jQuery-2.1.4.min')}} 
     <!-- Bootstrap 3.3.6 JS -->
      {{ script('landing/js/bootstrap.min')}}
    
     <!-- Waypoints JS -->
     {{ script('landing/js/waypoints.min')}}
     
     <!-- Vegas 2.2.1 JS -->
  
     {{ script('landing/js/vegas/vegas.min')}}
     <!-- Jquery Animate Numbers -->
 
     {{ script('landing/js/jquery.animateNumbers')}}
     <!-- Jquery Flexslider -->
    
     {{ script('landing/js/jquery.flexslider-min')}}
     <!-- Kafe Flexslider -->
    
    {{ script('landing/js/kafe.flexslider')}}
     <!-- Jquery Appear -->
	
     {{ script('landing/js/jquery.appear')}}
     <!-- Kafe JS -->
    
     {{ script('landing/js/kafe')}}



</body>
</html>
